.cards a {
    color: black;
}
.cards a:visited {
    color: black;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
}
.card-container {
    padding: 2px 16px;
}
.col {
    display: inline-block;
}
.s1 {
    width: 4.6%;   
}
.s2 {
    width: 10.5%;
}
.s3 {
    width: 15.75%;
}
.s4 {
    width: 21%;
}
.s5 {
    width: 26.25%;
}
.s6 {
    width: 31.5%;
}
.s9 {
    width: 47.25%
}
.s19 {
    width: 100%;
}