<!DOCTYPE html>
<html>
    <head>
        <title>MVC - Django & Sails</title>
        <meta charset="UTF-8">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
        <link rel="stylesheet" href="vendors/reveal.js/css/reveal.css">
        <link rel="stylesheet" href="vendors/reveal.js/css/theme/beige.css" id="theme">
        <script>
            var link = document.createElement('link');
            link.rel = 'stylesheet';
            link.type = 'text/css';
            link.href = window.location.search.match(/print-pdf/gi) ? 'vendors/reveal.js/css/print/pdf.css' : 'vendors/reveal.js/css/print/paper.css';
            document.getElementsByTagName('head')[0].appendChild(link);
        </script>
    </head>
    <body>
        <div class="reveal">
            <div class="slides">
                <section>
                    <h1>MVC - ShowCasing Django & Sails</h1>
                    <p>
                        <small>Presented by <a href="https://github.com/bashz">Bashz</a></small>
                    </p>
                </section>
                <section>
                    <section>
                        <h2>Introduction</h2>
                        <p>
                            MVC - Model View Controller is a way among others to logically decompose your
                            application, it is much spreaded in the web developpement.
                        </p>
                        <p>
                            Devs might argue either or not a giving implementation is an MVC or not, we won't.
                            <br>
                            Names sometimes change toward MTC, MVW ... we will keep it simple.
                        </p>
                    </section>
                    <section>
                        <blockquote>
                            "Model View Controller (MVC) is one of the most quoted (and most misquoted) patterns around. It started as a framework developed by Trygve Reenskaug for the Smalltalk platform in the late 1970s. Since then it has played an influential role in most UI frameworks and in the thinking about UI design."
                        </blockquote>
                    </section>
                </section>
                <section>
                    <h2>Overview</h2>
                    <section>
                        <img src='images/mvc.png'>
                    </section>
                    <section>
                        <ul>
                            <li class="fragment">Model: The only source of truth.</li>
                            <li class="fragment">View: The presentation of informations (rendering).</li>
                            <li class="fragment">Controller: Handle the logic of your solution.</li>
                        </ul>
                    </section>
                </section>
                <section>
                    <h2>Django</h2>
                    <section>
                        <h4>Installation</h4>
                        <pre class="pre-html">
                        <code class="shell hljs monokai" data-trim contenteditable>                            
pip3 install django
# create a Project
django-admin startproject badHabbits
# run Dev server
python manage.py runserver
                        </code>
                        </pre>
                    </section>
                    <section>
                        <h4>Architecture</h4>
                        <pre class="pre-html">
                        <code class="shell hljs monokai" data-trim contenteditable>                            
badHabits/
    manage.py
    badHabbits/
        __init__.py
        settings.py
        urls.py
        wsgi.py
                        </code>
                        </pre>
                    </section>
                    <section>
                        <h4>App vs Project</h4>
                        <pre class="pre-html">
                        <code class="shell hljs monokai" data-trim contenteditable>                            
python manage.py startapp habbits
# should generate
habits/
    __init__.py
    admin.py
    apps.py
    migrations/
        __init__.py
    models.py
    tests.py
    views.py

                        </code>
                        </pre>
                    </section>
                    <section>
                        <h4>Routing</h4>
                        <pre class="pre-html">
                        habits/urls.py
                        <code class="python hljs monokai" data-trim contenteditable>                            
from django.conf.urls import url
from . import views

urlpatterns = [
    url(r'^$', views.index, name='index'),
    url(r'^(?P<techy_id>[0-9]+)/$', views.detail, name='detail'),
]
                        </code>
                        </pre>
                    </section>
                    <section>
                        <h4>Model</h4>
                        <pre class="pre-html">
                        habits/models.py
                        <code class="python hljs monokai" data-trim contenteditable>                            
from django.db import models

class User(models.Model):
    name = models.CharField(max_length=200)
    def __str__(self):
    	return self.name

class Habbit(models.Model):
    user = models.ForeignKey(User, on_delete=models.CASCADE)
    name = models.CharField(max_length=200)
    occurences = models.IntegerField(default=0)
        def __str__(self):
            return self.name
                        </code>
                        </pre>
                    </section>
                    <section>
                        <h4>View</h4>
                        <pre>
                        habits/views.py
                        <code class="python hljs monokai" data-trim contenteditable>                            
from django.shortcuts import render
from .models import User

def index(request):
    users = Techy.objects.order_by('-name')[:10]
    context = {'users': users}
    return render(request, 'habbits/index.html', context)

def detail(request, user_id):
    user = Techy.objects.get(pk=user_id)
    return render(request, 'user/detail.html', {'user': user})
                        </code>
                        </pre>
                    </section>
                    <section>
                        <h4>Templates</h4>
                        <pre>
                        templates/habbits/index.html
                        <code class="html hljs monokai" data-trim contenteditable>                            
{% if users %}
    <ul>
    {% for user in users %}
        <li><a href="/user/{{ user.id }}/">{{ user.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No user found. // should be 404 res code</p>
{% endif %}
                        </code>
                        </pre>
                    </section>
                </section>
                <section>
                    <h2>Sails</h2>
                    <section>
                        <h4>Installation</h4>
                        <pre class="pre-html">
                        <code class="shell hljs monokai" data-trim contenteditable>                            
sudo apt install npm
npm install -g sails
                        </code>
                        </pre>
                    </section>
                </section>
            </div>
        </div>

        <script src="vendors/reveal.js/lib/js/head.min.js"></script>
        <script src="vendors/reveal.js/js/reveal.js"></script>

        <script>
            Reveal.initialize({
              controls: true,
              progress: true,
              history: true,
              center: true,
              transition: 'slide',
              dependencies: [
                {src: 'vendors/reveal.js/lib/js/classList.js', condition: function () {
                    return !document.body.classList;
                  }},
                {src: 'vendors/reveal.js/plugin/highlight/highlight.js', async: true, condition: function () {
                    return !!document.querySelector('pre code');
                  }, callback: function () {
                    hljs.initHighlightingOnLoad();
                  }},
                {src: 'vendors/reveal.js/plugin/zoom-js/zoom.js', async: true},
                {src: 'vendors/reveal.js/plugin/notes/notes.js', async: true}
              ]
            });
        </script>
    </body>
</html>
